.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  min-height: 90vh;
  font-family: 'Poppins', sans-serif;

  background: radial-gradient(circle at top, #1a1235, #090014);
  color: rgb(247, 243, 243);
}

.hero-particles-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-left,
.hero-right {
  position: relative;
  z-index: 1;
}

.hero-right h1,
.hero-right p {
  color: rgb(241, 234, 234);
}



.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 380px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
}

.hero-img:hover {
  transform: scale(1.03);
}

.hero-right {
  flex: 1.2;
  padding-left: 60px;
}

.hero-right h1 {
  font-size: 2.3rem;
  color: #faf6f6;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  line-height: 1.4;
}

.hero-right h1 span {
  color: #ffffff;
  font-weight: 700;
}

.hero-right p {
  margin-top: 25px;
  color: #fffdfd;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 500px;
}

.hero-action {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.hero-connect,
.hero-resume {
  border: 2px solid #929191;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-connect {
  background: #ddb9b942;
  color: #fff;
}

.hero-connect:hover {
  background: #000;
}

.hero-resume {
  background: #b8b4b4;
  color: #0c0b0b;
}

.hero-resume:hover {
  background: #2a2a2a;
  color: #fff;

}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
    background: #f9d5dc;
  }

  .hero-left {
    margin-bottom: 40px;
  }

  .hero-right {
    padding: 0;
  }

  .hero-right h1 {
    font-size: 2rem;
  }

  .hero-right p {
    font-size: 0.95rem;
    margin: 15px auto 0;
  }

  .hero-action {
    justify-content: center;
  }
}
