.myproject {
  padding: 100px 20px;
  background: radial-gradient(circle at top, #1a1235, #090014);
  text-align: center;
}

.swap-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #b892ff, #6a5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swap-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

/* inside Card */
.swap-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: transparent;
}

.swap-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.swap-info {
  padding: 20px;
  color: white;
}

.swap-info h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.swap-info p {
  font-size: 14px;
  opacity: 0.85;
}
