.myproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.myproject-title {
    position: relative;
}

.myproject-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.myproject-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.myproject-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns for 4 projects */
    gap: 40px;
    justify-content: center;
}

.myproject-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.myproject-container img:hover {
    transform: scale(1.10);
    border: 4px #d43f8a;
    border-radius: 10px;
    transition: 0.3s;
}

.myproject-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    background: linear-gradient(267deg, #EEAECA 0.36%, #94BBE9 102.06%);
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.myproject-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

